@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    min-height: 100vh;
    background: #050505;
    font-family: 'Play', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 30px 0px 30px;
}
a{
    text-decoration: none;
    font-size: 30px;
    
}
.active{
    padding: 10px 20px;
    background-color: cyan;
    border-radius:100px;
    box-shadow: 2px 2px 20px rgba(0, 255, 255, 1);
}
.ina{
    color: #00ecec;
}
.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(-360deg);
    }

}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515 , #00ffff);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
.cube div span h2{
    position: absolute;
    font-size: 4em;
    color: #fff;
    transform: translateZ(50px);
}
.cube div span h2:nth-child(1){
    transform: translateZ(0) translateY(20px);
    color: rgba(0, 0, 0, 0.2);
    filter: blur(2px);
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #00dddd;
    transform: translateZ(-400px);
    filter:blur(20px);
    box-shadow:0 0 120px rgba(0, 255, 255, 0.2),
    0 0 200px rgba(0, 255, 255, 0.4),
    0 0 300px rgba(0, 255, 255, 0.6),
    0 0 400px rgba(0, 255, 255, 0.8),
    0 0 500px rgba(0, 255, 255, 1) ;
}